/* https://coolors.co/e0e2db-d2d4c8-b8bdb5-889696-748583-5f7470 */
body {
    font-family: Arial, sans-serif;
    width : 400px;
    height: 500px;
    background-color: #889696;
    color: #E0E2DB;
}
h1 {
    font-size: 24px;
    font-family: "Comic Sans MS", serif;
}
#h1Header {
    text-align: center;
}

#output p {
    margin: 5px 0;
}
button {
    margin-left: 10%;
    width: 80%;
    height: 40px;
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    line-height: 18px;

}
#p1 {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.button-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    background: #5F7470;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-12:hover {
    outline: 0;
    background-color: #748583;
}
#content {
    margin-bottom: 10px;
    font-size: 24px;
    margin-left: 16px;
}

#content {
}
.underHeader {
    margin-bottom: 10px;
    margin-left: 16px;
}